html,
body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    background-color: #ffffff;
    box-shadow: 3px 3px 4px rgba(205, 205, 205, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 2000;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.left-links, .right-links {
    display: flex;
    gap: 30px;
}

.left-links-submenu {
    display: flex;
    gap: 30px;
}

.logo img {
    width: 50px;
    height: 50px;
}

/* Effet souligné au survol */
.link-nav-underline, .link-nav-underline-projet {
    display: inline-block;
    position: relative;
}

.link-nav-underline::after,
.link-nav-underline-projet::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
}

.link-nav-underline:hover::after,
.link-nav-underline-projet:hover::after {
    transform: scaleX(1);
}

/* Style du menu burger */
.burger-container {
    display: none;
    cursor: pointer;
}

#burgerbar {
    height: 100vh;
    width: 50%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    transition: left 0.3s ease-in-out;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

/* Responsive pour mobiles */
@media screen and (max-width: 900px) {
    .navbar-menu {
        display: none;
    }
    
    .burger-container {
        display: flex;
    }

    .burger-menu-list {
        display: block;
        text-align: center;
    }

    .burger-menu-list li {
        margin: 15px 0;
    }
}
